---
tab: home
layout: default
---
{% include banner.html %}

<h2>Calling all scientists!</h2>


    <p>Come present your science project and check out the amazing Science Expo.</p>
    <p>At the <b>Science Fair</b>, create a project and show it off. Come see what your fellow students have created!</p>
    <p>At the <b>Science Expo</b>, local groups will have demos and fun activities. There will be hands on activities, demonstrations, and interactive games presented by professional scientists.<p>


<div class="jumbotron parallax section1 mb-5">
  <div class="background"></div>
  <h3>The Science of Flight</h3>
  <P>This year's Science Expo theme is <b>The Science of Flight</b>.
    At the Expo you can learn how things travel through the air.  You
    can also learn about some exciting new aircraft designs that scientists
    are dreaming up to make air travel more accessible, efficient and convenient.</p>

  <p>Please note: your project does <b>not</b> have to be about Flight.
    Your project should be about whatever <b>you</b> are <b>excited</b> about!</p>
</div>



<h3>Schedule</h3>
<table class="table table-striped">
<tr>
  <td class="w-20">8:30am</td>
  <td class="w-30">Registration/Set up opens</td>
  <td class="w-50">The cafeteria will be open so students can set up their projects.</td>
</tr>
    
<tr>
  <td class="">9:00am-12:00n</td>
  <td class="">Science Fair/Science Expo</td>
  <td class="">The Science Fair and Science Expo are open to the public.</td>
</tr>

<tr>
  <td class="">9:00am-11:30am</td>
  <td class="">Judging time</td>
  <td class="">The student participants present their projects to the judges,
    view the other projects and visit the activity expo.</td>
</tr>

<tr>
  <td class="">12:00n-12:30pm</td>
  <td class="">Awards ceremony</td>
  <td class="">Come cheer for the winners!</td>
</tr>
</table>


<h3>How to make a great science fair project</h3>

 <li>Find any topic that interests you</li>
 <li>Ask a question</li>
 <li>Make a prediction</li>
 <li>Do an experiment to answer your question</li>
 <li>Write down the results</li>
 <li>Make a poster to share your project</li>

<p style="margin-top: 2em">Remember: plan a safe experiment, free from extreme hazards,
 explosives, and infectious agents.</p>

<a class="btn btn-primary sign-up" href="register.html" role="button">Registration form</a>


{% include footer.html %}
