.logo {
  border: none;
  margin-top: 9px;
  margin-left: 7px;
  width: 32px;
  height: 32px;
  background: url("devologo.png") no-repeat;
  background-size: contain;
}

.glyphicon-download-alt {
 margin-right: .5em;
}

.devo-nav.navbar-default {
  margin-bottom: 0px;
}

.jumbotron.banner {
  background: #dff0d8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jumbotron.banner h1 {
  color: #3c763d;
}

#names {
  margin-bottom: 30px;
}

.names_header p {
   font-weight: bold;
}

.row.schedule {
  padding-top: 1em;
  padding-bottom: 1em;

}

.row.schedule:nth-child(odd) {
    background: #EEE;
}

#names .row:nth-child(odd) input,
#names .row:nth-child(odd) select {
    background: #EEE;
}

.updown button {
  font-size: 80%;
  width: 2.5em;
  height: 2.5em;
}

#reg_status {
  margin-top: 5em;
  margin-bottom: 5em;
}

#reg_status .fa {
  font-size: 200%;
}

.btn.sign-up {
  margin-top: 2em;
  margin-bottom: 2em;
}
