H2.registration {
  margin-top: 2em;
}

.jumbotron.banner {
  background: #dff0d8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.jumbotron.banner h1 {
  color: #3c763d;
}

#names {
  margin-bottom: 30px;
}

.names_header p {
   font-weight: bold;
}

.row.schedule {
  margin-bottom: .8em;
}

.row.schedule:nth-child(odd) {
    background: #EEE;
}

#names .row:nth-child(odd) input {
    background: #EEE;
}

.updown button {
  font-size: 80%;
  width: 2.5em;
  height: 2.5em;
}

#reg_status {
  margin-top: 5em;
  margin-bottom: 5em;
}

#reg_status .fa {
  font-size: 200%;
}
