<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img class="logo" src="assets/pix/devologo.png"></div>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item {% if page.tab == 'home' %}active{% endif %}">
      <a class="nav-link" href="/">Science Fair Home</a>
    </li>
    <li class="nav-item {% if page.tab == 'register' %}active{% endif %}">
      <a class="nav-link" href="/register">Registration</a></li>
    <li class="nav-item {% if page.tab == 'pto' %}active{% endif %}">
      <a class="nav-link" href="https://ruffinridleypto.org/">Ruffin Ridley PTO</a>
    </li>
    {% if page.tab == 'judging' %}
    <li class="nav-item active">
      <a class="nav-link" href="/judge-signup">Judging</a>
    </li>
    {% endif %}
  </ul>
</nav>
