.register-logo {
    transform: scaleX(-1);
    width: 100%;
    float: left;
    position: relative;
    top: -7em;
}

.logo {
  border: none;
  margin-top: 9px;
  margin-left: 7px;
  width: 32px;
  height: 32px;
  background-size: contain;
}

.glyphicon-download-alt {
 margin-right: .5em;
}

footer {
    font-size: 80%;
    color: #999;
    margin: 1em;
    a {	color: lighten(blue, 33%); }
}

.devo-nav.navbar-default {
  margin-bottom: 0px;
}

.jumbotron.banner {
  background: #dff0d8;
  padding-top: 2em;
  padding-bottom: 3em;
}
.jumbotron.banner h1 {
  color: #3c763d;
}

#names {
  margin-bottom: 30px;
}

.names_header p {
   font-weight: bold;
}

.row.schedule {
  padding-top: 1em;
  padding-bottom: 1em;

}

.row.schedule:nth-child(odd) {
    background: #EEE;
}

#names .form-row:nth-child(odd) input,
#names .form-row:nth-child(odd) select {
    background: #F6F6F6;
}

.updown button {
  font-size: 80%;
  width: 2.5em;
  height: 2.5em;
  border:  1px solid #ced4da;
}

#reg_status {
  margin-top: 5em;
  margin-bottom: 5em;
}

#reg_status .fa {
  font-size: 200%;
}

.btn.sign-up {
  margin-top: 2em;
  margin-bottom: 2em;
}

.entry_count {
  font-size: 700%;
  font-weight: normal;
}

/* judging signup form */

.judging .frame2 {
  display: none
}

.judging .frame2 button.ok {
  margin-top: 2em;
}

.has-error label {
    color: #a94442;
}

.spinner {
    display: none;
    color: #777;
}
